XSD/GovTalkMessage.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema xmlns:ns0="http://Neurodot.BT.Schemas.PVS.PSchema_GovTalk_Relaxed_01" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:com="http://gateway.gov/schema/common/v1" xmlns="http://www.govtalk.gov.uk/CM/envelope" xmlns:xsig="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" targetNamespace="http://www.govtalk.gov.uk/CM/envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="GovTalkSignature.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
    <xs:import schemaLocation="Common.xsd" namespace="http://gateway.gov/schema/common/v1" />
    <xs:annotation>
        <xs:appinfo>
  <b:references>
  <b:reference targetNamespace="http://www.w3.org/2000/09/xmldsig#" /> 
  </b:references>
  <b:imports>
  <b:namespace prefix="ns0" uri="http://Neurodot.BT.Schemas.PVS.PSchema_GovTalk_Relaxed_01" location="Neurodot.BT.Schemas.PVS.PSchema_GovTalk_Relaxed_01" /> 
  </b:imports>
  </xs:appinfo>
    </xs:annotation>
    <xs:element name="GovTalkMessage">
        <xs:annotation>
            <xs:appinfo>
  <b:properties>
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Class' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Qualifier' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Function' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='EnvelopeVersion' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SenderDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='IDAuthentication' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SenderID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property name="ns0:CorrelationID" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='CorrelationID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='TransactionID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayTimestamp' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='MessageDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='CorrelationID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property name="ns0:CredIdentifier" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SenderDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='IDAuthentication' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SenderID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GovTalkDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayAdditions' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SubmissionState' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property name="ns0:SubmissionState" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GovTalkDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayAdditions' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SubmissionState' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='Header' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SenderDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='EmailAddress' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GovTalkDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayAdditions' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SubmissionCredIdent' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property distinguished="true" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GovTalkDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayAdditions' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SubmissionGatewayTS' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  <b:property name="ns0:RouteID" xpath="/*[local-name()='GovTalkMessage' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GovTalkDetails' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='GatewayAdditions' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']/*[local-name()='SubmissionRouteID' and namespace-uri()='http://www.govtalk.gov.uk/CM/envelope']" /> 
  </b:properties>
  </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnvelopeVersion" type="xs:decimal" />
                <xs:element name="Header">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="MessageDetails">
                                <xs:complexType>
                                    <xs:all minOccurs="1" maxOccurs="1">
                                        <xs:element name="Class" type="xs:string" minOccurs="1" />
                                        <xs:element name="Qualifier" type="xs:string" minOccurs="1" />
                                        <xs:element name="Function" type="xs:string" minOccurs="1" />
                                        <xs:element name="TransactionID" type="xs:string" minOccurs="0" />
                                        <xs:element name="AuditID" type="xs:string" minOccurs="0" />
                                        <xs:element name="CorrelationID" type="xs:string" minOccurs="1" />
                                        <xs:element name="ResponseEndPoint" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="PollInterval" type="xs:string" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Transformation" type="xs:string" minOccurs="0" />
                                        <xs:element name="GatewayTest" type="xs:string" minOccurs="0" />
                                        <xs:element name="GatewayTimestamp" type="xs:string" minOccurs="0" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SenderDetails" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="IDAuthentication" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SenderID" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                    <xs:element name="Authentication" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Method">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:enumeration value="clear" />
                                                                            <xs:enumeration value="MD5" />
                                                                            <xs:enumeration value="hash" />
                                                                            <xs:enumeration value="W3Csigned" />
                                                                            <xs:enumeration value="Token" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="Role" type="xs:string" minOccurs="0" maxOccurs="1" />
                                                                <xs:choice>
                                                                    <xs:element name="Value" type="xs:string" />
                                                                    <xs:element ref="xsig:Signature" />
                                                                </xs:choice>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="X509Certificate" type="xs:string" minOccurs="0" />
                                        <xs:element name="EmailAddress" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$|nomail" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GovTalkDetails" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Keys">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="Type" type="xs:string" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GovTalkErrors" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Error" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="RaisedBy" type="xs:string" />
                                                    <xs:element name="Number" type="xs:int" minOccurs="0" />
                                                    <xs:element name="Type">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="fatal" />
                                                                <xs:enumeration value="recoverable" />
                                                                <xs:enumeration value="business" />
                                                                <xs:enumeration value="warning" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                                    <xs:element name="Location" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                                                </xs:sequence>
                                                <xs:attribute name="Id" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GatewayAdditions" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SubmissionState" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="SubmissionCredIdent" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="SubmissionGatewayTS" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="SubmissionRouteID" type="xs:int" minOccurs="0" maxOccurs="1" />
                                        <xs:element name="Routing" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="SubClass" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Statistics" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="FormCount" type="xs:int" minOccurs="1" maxOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Body">
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="unbounded">
                            <xs:any minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:string" />
                        <xs:anyAttribute />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
